.cc-window {
  opacity: 1;
  transition: opacity 1s ease;
}
.cc-window.cc-invisible {
  opacity: 0;
}
.cc-animate.cc-revoke {
  transition: transform 1s ease;
}
.cc-animate.cc-revoke.cc-top {
  transform: translateY(-2em);
}
.cc-animate.cc-revoke.cc-bottom {
  transform: translateY(2em);
}
.cc-animate.cc-revoke.cc-active.cc-bottom,
.cc-animate.cc-revoke.cc-active.cc-top,
.cc-revoke:hover {
  transform: translateY(0);
}
.cc-grower {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
.cc-link,
.cc-revoke:hover {
  text-decoration: underline;
}
.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}
.cc-window.cc-static {
  position: static;
}
.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cc-revoke {
  padding: 0.5em;
}
.cc-header {
  font-size: 18px;
  font-weight: 700;
}
.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer;
}
.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
}
.cc-link:hover {
  opacity: 1;
}
.cc-link:active,
.cc-link:visited {
  color: initial;
}
.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}
.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}
.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline;
}
.cc-close {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.6em;
  opacity: 0.9;
  line-height: 0.75;
}
.cc-close:focus,
.cc-close:hover {
  opacity: 1;
}
.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}
.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}
.cc-top {
  top: 1em;
}
.cc-left {
  left: 1em;
}
.cc-right {
  right: 1em;
}
.cc-bottom {
  bottom: 1em;
}
.cc-floating > .cc-link {
  margin-bottom: 1em;
}
.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}
.cc-window.cc-floating .cc-compliance {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cc-window.cc-banner {
  -ms-flex-align: center;
  align-items: center;
}
.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}
.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.cc-banner .cc-message {
  display: block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}
.cc-compliance {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.cc-floating .cc-compliance > .cc-btn {
  -ms-flex: 1;
  flex: 1;
}
.cc-btn + .cc-btn {
  margin-left: 0.5em;
}
@media print {
  .cc-revoke,
  .cc-window {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cc-btn {
    white-space: normal;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-top {
    top: 0;
  }
  .cc-window.cc-bottom {
    bottom: 0;
  }
  .cc-window.cc-banner,
  .cc-window.cc-floating,
  .cc-window.cc-left,
  .cc-window.cc-right {
    left: 0;
    right: 0;
  }
  .cc-window.cc-banner {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cc-window.cc-banner .cc-compliance {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .cc-window.cc-floating {
    max-width: none;
  }
  .cc-window .cc-message {
    margin-bottom: 1em;
  }
  .cc-window.cc-banner {
    -ms-flex-align: unset;
    align-items: unset;
  }
  .cc-window.cc-banner .cc-message {
    margin-right: 0;
  }
}
.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -ms-flex: none;
  flex: none;
}
.cc-theme-classic .cc-btn {
  border-radius: 5px;
}
.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}
.cc-theme-edgeless.cc-window {
  padding: 0;
}
.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em 2em 1.5em;
}
.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: 0.8em 1.8em;
  height: 100%;
}
.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}
.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
  margin-left: 0;
}
/*
  to get the instagram placeholders to display the contents nicely, we apply some styling.
*/
.instagram-media.cmplz-placeholder-element > div {
  max-width: 100%;
}
.twitter-tweet.cmplz-blocked-content-container {
  padding: 10px 40px;
}
.cmplz-placeholder-element > blockquote.fb-xfbml-parse-ignore {
  margin: 0 20px;
}
.cmplz-soft-cookiewall {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
.cmplz-document .cmplz-soft-cookiewall {
  background-color: transparent;
}
.cc-deny {
  display: none;
}
.cmplz-clear-padding {
  padding-top: 10px !important;
}
.cmplz-clear-padding:before {
  padding-top: 0 !important;
}
.wpgmza-gdpr-compliance {
  text-align: center;
}
.cmplz-blocked-content-container {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: inherit;
  position: relative;
}
.cmplz-blocked-content-container iframe {
  max-height: 100%;
}
.cmplz-blocked-content-container div div {
  display: none;
}
.cmplz-blocked-content-container .cmplz-video.cmplz-hidden {
  visibility: hidden;
}
.cmplz-blocked-content-container .cmplz-video.cmplz-iframe-styles {
  background-color: transparent;
}
.cmplz-blocked-content-container.gmw-map-cover {
  max-height: 100%;
  position: absolute;
}
.cmplz-blocked-content-container .cmplz-blocked-content-notice {
  cursor: pointer;
  position: absolute !important;
  top: 50px;
  width: 50%;
  max-width: 200px;
  font-size: 14px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  color: #fff;
  text-align: center;
  /*make sure the container is on top of the iframe */
  z-index: 99;
  /*We need some lineheight, for example Elementor will force a lineheight of 0*/
  line-height: 23px;
}
.cc-link {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .cc-revoke {
    display: none !important;
  }
}
.cc-center.cc-revoke {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.cc-center.cc-revoke.cc-animate {
  transform: translateY(2em);
}
.cc-center.cc-revoke.cc-animate:hover {
  transform: translateY(0);
}
.cc-hidden {
  display: none;
}
#cmplz-container {
  display: block !important;
  width: 100%;
  height: 100%;
  position: absolute;
}
.cc-window.cc-theme-minimal {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.cc-window.cc-theme-minimal .cc-message {
  text-align: center;
}
.cc-window.cc-theme-minimal .cc-btn.cc-allow,
.cc-window.cc-theme-minimal .cc-btn.cc-save,
.cc-window.cc-theme-minimal .cc-btn.cc-dismiss {
  border-radius: 5px;
  border-width: 1px;
}
.cc-window.cc-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 360px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
label.cc-check {
  display: inline-block;
}
.cc-window label {
  color: inherit;
}
.cc-check,
.cc-check svg {
  transform: translate3d(0, 0, 0);
}
.cc-window label:not(.cc-check) {
  white-space: nowrap;
  margin-right: 15px;
  padding-left: 10px;
}
.cc-center .cc-save,
.cc-left .cc-save,
.cc-right .cc-save {
  margin-top: 15px;
}
.cc-type-categories.cc-floating.cc-theme-edgeless label {
  margin-left: 1em;
}
.cc-type-categories.cc-floating.cc-theme-edgeless .cc-message {
  margin-bottom: 0.5em;
}
.cc-check {
  cursor: pointer;
  position: relative;
  margin: auto 5px auto auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
}
.cc-check:before {
  content: "";
  position: absolute;
  opacity: 0;
}
.cc-check:hover:before {
  opacity: 1;
}
.cc-check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3.5;
  transition: all 0.2s ease;
}
.cc-check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.cc-check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.cc-window #cmplz_0:checked + .cc-check svg path,
.cc-window #cmplz_1:checked + .cc-check svg path,
.cc-window #cmplz_2:checked + .cc-check svg path,
.cc-window #cmplz_3:checked + .cc-check svg path,
.cc-window #cmplz_4:checked + .cc-check svg path,
.cc-window #cmplz_5:checked + .cc-check svg path,
.cc-window #cmplz_6:checked + .cc-check svg path,
.cc-window #cmplz_7:checked + .cc-check svg path,
.cc-window #cmplz_8:checked + .cc-check svg path,
.cc-window #cmplz_all:checked + .cc-check svg path,
.cc-window #cmplz_stats:checked + .cc-check svg path,
.cc-window #cmplz_functional:checked + .cc-check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.cc-window #cmplz_0:checked + .cc-check svg polyline,
.cc-window #cmplz_1:checked + .cc-check svg polyline,
.cc-window #cmplz_2:checked + .cc-check svg polyline,
.cc-window #cmplz_3:checked + .cc-check svg polyline,
.cc-window #cmplz_4:checked + .cc-check svg polyline,
.cc-window #cmplz_5:checked + .cc-check svg polyline,
.cc-window #cmplz_6:checked + .cc-check svg polyline,
.cc-window #cmplz_7:checked + .cc-check svg polyline,
.cc-window #cmplz_8:checked + .cc-check svg polyline,
.cc-window #cmplz_all:checked + .cc-check svg polyline,
.cc-window #cmplz_stats:checked + .cc-check svg polyline,
.cc-window #cmplz_functional:checked + .cc-check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
/*# sourceMappingURL=cookieconsent.css.map */