:root {
  --cmplz_banner_width: 600px;
  --cmplz_banner_background_color: white;
  --cmplz_banner_border_color: #f2f2f2;
  --cmplz_banner_border_width: 1px;
  --cmplz_banner_border_radius: 10px;
  --cmplz_banner_margin: 10px;
  --cmplz_categories-height: 161px;
  --cmplz_title_font_size: 15px;
  --cmplz_text_line_height: calc(var(--cmplz_text_font_size) * 1.5);
  --cmplz_text_color: black;
  --cmplz_hyperlink_color: black;
  --cmplz_text_font_size: 12px;
  --cmplz_link_font_size: 12px;
  --cmplz_category_body_font_size: 12px;
  --cmplz_button_accept_background_color: #1e73be;
  --cmplz_button_accept_border_color: #1e73be;
  --cmplz_button_accept_text_color: #fff;
  --cmplz_button_deny_background_color: #f9f9f9;
  --cmplz_button_deny_border_color: #f2f2f2;
  --cmplz_button_deny_text_color: #333;
  --cmplz_button_settings_background_color: #f9f9f9;
  --cmplz_button_settings_border_color: #f2f2f2;
  --cmplz_button_settings_text_color: #333;
  --cmplz_button_border_radius: 5px;
  --cmplz_button_font_size: 15px;
  --cmplz_category_header_always_active_color: green;
  --cmplz_category_header_title_font_size: 14px;
  --cmplz_category_header_active_font_size: 12px;
  --cmplz-manage-consent-height: 50px;
  --cmplz-manage-consent-offset: -35px;
  --cmplz_slider_active_color: #29b6f6;
  --cmplz_slider_inactive_color: #ccc;
  --cmplz_slider_bullet_color: white;
}
#cmplz-manage-consent .cmplz-manage-consent {
  margin: unset;
  z-index: 9998;
  color: var(--cmplz_text_color);
  background-color: var(--cmplz_banner_background_color);
  border-style: solid;
  border-color: var(--cmplz_banner_border_color);
  border-width: var(--cmplz_banner_border_width);
  border-radius: var(--cmplz_banner_border_radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  line-height: initial;
  position: fixed;
  bottom: var(--cmplz-manage-consent-offset);
  min-width: 100px;
  height: var(--cmplz-manage-consent-height);
  right: 40px;
  padding: 15px;
  cursor: pointer;
  -webkit-animation: mc_slideOut 0.5s forwards;
          animation: mc_slideOut 0.5s forwards;
}
#cmplz-manage-consent .cmplz-manage-consent:active {
  outline: none;
  border: none;
}
#cmplz-manage-consent .cmplz-manage-consent.cmplz-dismissed {
  display: none;
}
#cmplz-manage-consent .cmplz-manage-consent:hover {
  -webkit-animation: mc_slideIn 0.5s forwards;
          animation: mc_slideIn 0.5s forwards;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
@-webkit-keyframes mc_slideIn {
  100% {
    bottom: 0;
  }
}
@keyframes mc_slideIn {
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes mc_slideOut {
  100% {
    bottom: var(--cmplz-manage-consent-offset);
  }
}
@keyframes mc_slideOut {
  100% {
    bottom: var(--cmplz-manage-consent-offset);
  }
}
@media (max-width: 768px) {
  #cmplz-manage-consent .cmplz-manage-consent {
    display: none;
  }
}
@media (max-width: 425px) {
  .cmplz-cookiebanner .cmplz-header .cmplz-title {
    display: none;
  }
}
.cmplz-cookiebanner {
  max-height: calc(100vh - 20px);
  position: fixed;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  z-index: 99999;
  background: var(--cmplz_banner_background_color);
  border-style: solid;
  border-color: var(--cmplz_banner_border_color);
  border-width: var(--cmplz_banner_border_width);
  border-radius: var(--cmplz_banner_border_radius);
  padding: 15px 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}
.cmplz-cookiebanner a {
  -webkit-transition: initial;
  transition: initial;
}
.cmplz-cookiebanner .cmplz-buttons a.cmplz-btn.tcf {
  display: none;
}
.cmplz-cookiebanner.cmplz-dismissed {
  display: none;
}
.cmplz-cookiebanner .cmplz-body {
  width: 100%;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 55vh;
}
.cmplz-cookiebanner .cmplz-body::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  background-color: transparent;
}
.cmplz-cookiebanner .cmplz-body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.cmplz-cookiebanner .cmplz-body::-webkit-scrollbar-thumb {
  background-color: var(--cmplz_button_accept_background_color);
  border-radius: 10px;
}
@media (min-width: 350px) {
  .cmplz-cookiebanner .cmplz-body {
    min-width: 300px;
  }
}
.cmplz-cookiebanner .cmplz-divider {
  margin-left: -20px;
  margin-right: -20px;
}
.cmplz-cookiebanner .cmplz-header {
  -ms-grid-columns: 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.cmplz-cookiebanner .cmplz-logo svg {
  max-height: 35px;
  width: inherit;
}
.cmplz-cookiebanner .cmplz-logo img {
  max-height: 40px;
  width: inherit;
}
.cmplz-cookiebanner .cmplz-title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  font-size: var(--cmplz_title_font_size);
  color: var(--cmplz_text_color);
  font-weight: 500;
}
.cmplz-cookiebanner .cmplz-close {
  line-height: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 3;
      grid-column-start: 3;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--cmplz_text_color);
}
.cmplz-cookiebanner .cmplz-close svg {
  width: 20px;
  height: 20px;
}
.cmplz-cookiebanner .cmplz-close:hover {
  text-decoration: none;
  line-height: initial;
  font-size: 18px;
}
.cmplz-cookiebanner .cmplz-message {
  word-wrap: break-word;
  font-size: var(--cmplz_text_font_size);
  line-height: var(--cmplz_text_line_height);
  color: var(--cmplz_text_color);
  margin-bottom: 5px;
}
.cmplz-cookiebanner .cmplz-message a {
  color: var(--cmplz_hyperlink_color);
}
.cmplz-cookiebanner .cmplz-message,
.cmplz-cookiebanner .cmplz-categories,
.cmplz-cookiebanner .cmplz-links,
.cmplz-cookiebanner .cmplz-buttons,
.cmplz-cookiebanner .cmplz-divider {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.cmplz-cookiebanner .cmplz-categories.cmplz-tcf .cmplz-category .cmplz-category-header {
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category {
  background-color: rgba(239, 239, 239, 0.5);
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category:not(:last-child) {
  margin-bottom: 10px;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px auto 10px 15px;
  grid-template-columns: 1fr auto 15px;
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  padding: 10px;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-category-title {
  font-weight: 500;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: var(--cmplz_category_header_title_font_size);
  color: var(--cmplz_text_color);
  margin: 0;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-always-active {
  font-size: var(--cmplz_category_header_active_font_size);
  font-weight: 500;
  color: var(--cmplz_category_header_always_active_color);
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-always-active label {
  display: none;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-banner-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-banner-checkbox label > span {
  display: none;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-banner-checkbox input[data-category=cmplz_functional] {
  display: none;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-category-header .cmplz-icon.cmplz-open {
  -ms-grid-column: 3;
      grid-column-start: 3;
  cursor: pointer;
  content: '';
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: cover;
  height: 18px;
  width: 18px;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category[open] .cmplz-icon.cmplz-open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category summary {
  display: block;
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category summary::marker {
  display: none;
  content: '';
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category summary::-webkit-details-marker {
  display: none;
  content: '';
}
.cmplz-cookiebanner .cmplz-categories .cmplz-category .cmplz-description {
  font-size: var(--cmplz_category_body_font_size);
  color: var(--cmplz_text_color);
  margin: 0;
  max-width: 100%;
  padding: 10px;
}
@media (max-width: 425px) {
  .cmplz-cookiebanner .cmplz-category .cmplz-category-header {
    -ms-grid-columns: 1fr!important;
    grid-template-columns: 1fr!important;
  }
}
@media (max-width: 425px) {
  .cmplz-cookiebanner .cmplz-message {
    margin-right: 5px;
  }
}
.cmplz-cookiebanner .cmplz-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--cmplz_banner_margin);
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn {
  height: 45px;
  padding: 10px;
  margin: initial;
  width: 100%;
  white-space: nowrap;
  border-radius: var(--cmplz_button_border_radius);
  cursor: pointer;
  font-size: var(--cmplz_button_font_size);
  font-weight: 500;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn:hover {
  text-decoration: none;
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-accept {
  background-color: var(--cmplz_button_accept_background_color);
  border: 1px solid var(--cmplz_button_accept_border_color);
  color: var(--cmplz_button_accept_text_color);
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-deny {
  background-color: var(--cmplz_button_deny_background_color);
  border: 1px solid var(--cmplz_button_deny_border_color);
  color: var(--cmplz_button_deny_text_color);
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-view-preferences {
  background-color: var(--cmplz_button_settings_background_color);
  border: 1px solid var(--cmplz_button_settings_border_color);
  color: var(--cmplz_button_settings_text_color);
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-save-preferences {
  background-color: var(--cmplz_button_settings_background_color);
  border: 1px solid var(--cmplz_button_settings_border_color);
  color: var(--cmplz_button_settings_text_color);
}
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-manage-options {
  background-color: var(--cmplz_button_settings_background_color);
  border: 1px solid var(--cmplz_button_settings_border_color);
  color: var(--cmplz_button_settings_text_color);
}
.cmplz-cookiebanner .cmplz-buttons a.cmplz-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: initial;
}
@media (max-width: 425px) {
  .cmplz-cookiebanner .cmplz-links.cmplz-information {
    display: initial;
    text-align: center;
  }
}
.cmplz-cookiebanner .cmplz-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--cmplz_banner_margin);
}
.cmplz-cookiebanner .cmplz-links.cmplz-information {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cmplz-cookiebanner .cmplz-links.cmplz-documents {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cmplz-cookiebanner .cmplz-links .cmplz-link {
  color: var(--cmplz_hyperlink_color);
  font-size: var(--cmplz_link_font_size);
  text-decoration: underline;
  margin: 0;
}
.cmplz-cookiebanner .cmplz-links .cmplz-link.cmplz-read-more-purposes {
  display: none;
}
/* The categories are also used on the cookie policy, so this needs to be outside the banner class */
.cmplz-categories .cmplz-category .cmplz-description-statistics-anonymous {
  display: none;
}
.cmplz-categories .cmplz-category .cmplz-description-statistics {
  display: block;
}
/*# sourceMappingURL=cookiebanner.css.map */