//reset checkbox styles for classic
input[type="checkbox"].cmplz-category {
  width: initial;
  -webkit-appearance: checkbox;
  &:checked::before{
	content:'';
  }
}

.cmplz-cookiebanner{
  box-sizing:border-box;
}
