:root {
  --cmplz_banner_width:600px;
  --cmplz_banner_background_color:white;
  --cmplz_banner_border_color:#f2f2f2;
  --cmplz_banner_border_width:1px;
  --cmplz_banner_border_radius:10px;
  --cmplz_banner_margin:10px;
  --cmplz_categories-height:161px;

  --cmplz_title_font_size:15px;
  --cmplz_text_font_size:12px;
  --cmplz_text_line_height: calc( var(--cmplz_text_font_size) * 1.5 );
  --cmplz_text_color:black;

  --cmplz_hyperlink_color:black;
  --cmplz_link_font_size:12px;

  --cmplz_button_accept_background_color:#1e73be;
  --cmplz_button_accept_border_color:#1e73be;
  --cmplz_button_accept_text_color:#fff;
  --cmplz_button_deny_background_color:#f9f9f9;
  --cmplz_button_deny_border_color:#f2f2f2;
  --cmplz_button_deny_text_color:#333;
  --cmplz_button_settings_background_color:#f9f9f9;
  --cmplz_button_settings_border_color:#f2f2f2;
  --cmplz_button_settings_text_color:#333;
  --cmplz_button_border_radius:5px;
  --cmplz_button_font_size:15px;
  --cmplz_category_header_always_active_color:green;
  --cmplz_category_body_font_size:12px;
  --cmplz_category_header_title_font_size:14px;
  --cmplz_category_header_active_font_size:12px;
  --cmplz_category_open_icon_url:url(https://complianz.io/banner-defaults/down.png);
  --cmplz-manage-consent-height:50px;
  --cmplz-manage-consent-offset:-35px;

  --cmplz_slider_active_color: #29b6f6;
  --cmplz_slider_inactive_color: #ccc;
  --cmplz_slider_bullet_color: white;
}
