.cmplz-borderradius-control {
  display:flex;

}

.cmplz-borderradius, .cmplz-borderwidth {
  &-element-label {
	color: var(--rsp-grey-400);
	font-size: 13px;
  }
  input {
	width:60px;
  }
  &-inputtype {
	&-pixel {
	  margin-top:13px;

	}
	&-percent, &-pixel {
	  cursor: pointer;
	  &.cmplz-inactive{
		color: var(--rsp-grey-400);
	  }
	}
  }
}
