.cmplz-cookiebanner .cmplz-divider {
  height: 3px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.05);
}

.cmplz-cookiebanner {
	&.cmplz-center {
	  .cmplz-divider {
		//this compensates for the space visually lost by the shadow
		&.cmplz-footer {
		  margin-top:5px;
		}
	  }
	}
}


