//ensure the datepicker hovers over the wp menu.
#wpwrap .MuiPopover-root {
  z-index:999999;
}
#cmplz-date-range-picker-container {
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: var(--rsp-spacing-xs);
  background-color: var(--rsp-background-block-color);
  box-shadow: var(--rsp-box-shadow);
  z-index: 1;
  border-radius: var(--rsp-border-radius-input);
  &.cmplz-date-range-picker-open {
	display: flex;
  }
}

#cmplz-date-range-picker-open-button{
  display: flex;
  align-items: center;
  padding: var(--rsp-filter-padding);
  box-shadow: var(--rsp-box-shadow);
  cursor: pointer;
  gap: var(--rsp-spacing-xs);
  color: var(--rsp-text-color);
  background-color: var(--rsp-input-background-color);
  background: var(--rsp-grey-200);
  border: 1px solid var(--rsp-input-border-color);
  border-radius: var(--rsp-border-radius-input);
  .cmplz-icon{
	height: max-content;
  }
}

.rdrCalendarWrapper{
  color: #000000;
  font-size: var(--rsp-fs-400);
}

.rdrDateDisplayWrapper{
  background-color: var(--rsp-green-faded);
}

.rdrDateDisplay{
  margin: 0.833em;
}

.rdrDateDisplayItem{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
  input{
	cursor: pointer;
	height: 2.5em;
	line-height: 2.5em;
	border: 0;
	background: transparent;
	width: 100%;
	color: #849095;
  }
}

.rdrDateDisplayItemActive{
  border-color: currentColor;
}

.rdrDateDisplayItemActive{
  input{
	color: #7d888d
  }
}

.rdrMonthAndYearWrapper {
  align-items: center;
  height: 60px;
  padding-top: var(--rsp-spacing-xxs);
}

.rdrMonthAndYearPickers{
  font-weight: 600;
  select{
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	border-radius: 4px;
	outline: 0;
	color: #3e484f;
	background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
	background-position: right 8px center;
	cursor: pointer;
	text-align: center;
	&:hover{
	  background-color: rgba(0,0,0,0.07);
	}
  }
}

.rdrMonthPicker, .rdrYearPicker{
  margin: 0 5px
}

.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #EFF2F7;
  &:hover{
	background: #E1E7F0;
  }
  i {
	display: block;
	width: 0;
	height: 0;
	padding: 0;
	text-align: center;
	border-style: solid;
	margin: auto;
	transform: translate(-3px, 0);
  }
}

.rdrPprevButton {
  i {
	border-width: 4px 6px 4px 4px;
	border-color: transparent rgb(52, 73, 94) transparent transparent;
	transform: translate(-3px, 0);
  }
}

.rdrNextButton {
  i {
	margin: 0 0 0 7px;
	border-width: 4px 4px 4px 6px;
	border-color: transparent transparent transparent rgb(52, 73, 94);
	transform: translate(3px, 0);
  }
}


.rdrWeekDays {
  padding: 0 0.833em;
}

.rdrMonth{
  padding: 0 0.833em 1.666em 0.833em;
  .rdrWeekDays {
	padding: 0;
  }
}

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
  display: none;
}

.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  color: rgb(132, 144, 149);
}

.rdrDay {
  background: transparent;
  user-select: none;
  border: 0;
  padding: 0;
  aspect-ratio: 1.2 / 1;
  //line-height: 3.000em;
  //height: 3.000em;
  text-align: center;
  color: var(--rsp-text-color);
  &:focus {
	outline: 0;
  }
}

.rdrDayNumber {
  outline: 0;
  font-weight: 300;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdrDayToday .rdrDayNumber span{
  font-weight: 500;
  &:after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: var(--rsp-green);
  }
}

.rdrDayToday:not(.rdrDayPassive) {
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected{
	& ~ .rdrDayNumber span:after{
	  background: #fff;
	}
  }
}

.rdrDay:not(.rdrDayPassive){
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected{
	& ~ .rdrDayNumber{
	  span{
		color: rgba(255, 255, 255, 0.85);
	  }
	}
  }
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
  background: currentColor;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.rdrSelected{
  left: 2px;
  right: 2px;
}

.rdrInRange{}

.rdrStartEdge{
  border-top-left-radius: var(--rsp-border-radius-input);
  border-bottom-left-radius: var(--rsp-border-radius-input);
  left: 2px;
}

.rdrEndEdge{
  border-top-right-radius: var(--rsp-border-radius-input);
  border-bottom-right-radius: var(--rsp-border-radius-input);
  right: 2px;
}

.rdrSelected{
  border-radius: var(--rsp-border-radius-input);
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrInRange, .rdrEndEdge{
	border-top-left-radius: var(--rsp-border-radius-input);
	border-bottom-left-radius: var(--rsp-border-radius-input);
	left: 2px;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrInRange,  .rdrStartEdge{
	border-top-right-radius: var(--rsp-border-radius-input);
	border-bottom-right-radius: var(--rsp-border-radius-input);
	right: 2px;
  }
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrDayInPreview, .rdrDayEndPreview{
	border-top-left-radius: var(--rsp-border-radius-input);
	border-bottom-left-radius: var(--rsp-border-radius-input);
	border-left-width: 2px;
	left: 0;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrDayInPreview, .rdrDayStartPreview{
	border-top-right-radius: var(--rsp-border-radius-input);
	border-bottom-right-radius: var(--rsp-border-radius-input);
	border-right-width: 2px;
	right: 0;
  }
}


.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  pointer-events: none;
  border: 0 solid currentColor;
  z-index: 1;
}


.rdrDayStartPreview{
  border-top-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top-left-radius: var(--rsp-border-radius-input);
  border-bottom-left-radius: var(--rsp-border-radius-input);
  left: 0;
}

.rdrDayInPreview{
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.rdrDayEndPreview{
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-top-right-radius: var(--rsp-border-radius-input);
  border-bottom-right-radius: var(--rsp-border-radius-input);
  right: 0;
}

.rdrDefinedRangesWrapper{
  font-size: 12px;
  min-width: 160px;
  width: max-content;
  border-right: solid 1px #eff2f7;
  background: #fff;
  .rdrStaticRangeSelected{
	color: currentColor;
	font-weight: 600;
  }
}

.rdrStaticRange{
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  border-bottom: 1px solid #eff2f7;
  padding: 0;
  background: #fff;
  &:hover, &:focus{
	.rdrStaticRangeLabel{
	  background: #eff2f7;
	}
  }
}

.rdrStaticRangeLabel{
  overflow: hidden;
  display: block;
  outline: 0;
  line-height: 18px;
  padding: 10px 20px;
  text-align: left;
  font-weight: 300;
}

.rdrInputRanges{
  padding: 10px 0;
}

.rdrInputRange{
  align-items: center;
  padding: 5px 20px;
}

.rdrInputRangeInput{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  border: solid 1px rgb(222, 231, 235);
  margin-right: 10px;
  color: rgb(108, 118, 122);
  &:focus, &:hover{
	border-color: rgb(180, 191, 196);
	outline: 0;
	color: #333;
  }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
  content: '';
  border: 1px solid currentColor;
  border-radius: 1.333em;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0;
  right: 0;
  background: transparent;
}

.rdrDayPassive{
  pointer-events: none;
  .rdrDayNumber span{
	color: #d5dce0;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
	display: none;
  }
}

.rdrDayDisabled {
  background-color: rgb(248, 248, 248);
  .rdrDayNumber span{
	color: #aeb9bf;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
	filter: grayscale(100%) opacity(60%);
  }
}

.rdrMonthName{
  text-align: left;
  font-weight: 600;
  color: #849095;
  padding: var(--rsp-spacing-xxs);
}
// Calendar
.rdrCalendarWrapper {
  box-sizing: border-box;
  background: #ffffff;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
}

.rdrDateDisplay{
  display: flex;
  justify-content: space-between;
}

.rdrDateDisplayItem{
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
  & + &{
	margin-left: 0.833em;
  }
  input{
	color: var(--rsp-text-color);
	text-align: inherit;
	&:disabled{
	  cursor: default;
	}
  }
}

.rdrDateDisplayItemActive{}

.rdrMonthAndYearWrapper {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}

.rdrMonthAndYearPickers{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdrMonthPicker{}

.rdrYearPicker{}

.rdrNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}

.rdrPprevButton {}

.rdrNextButton {}

.rdrMonths{
  display: flex;
}

.rdrMonthsVertical{
  flex-direction: column;
}

.rdrMonthsHorizontal > div > div > div{
  display: flex;
  flex-direction: row;
}

.rdrMonth{
  width: 300px;
}

.rdrWeekDays{
  display: flex;
}

.rdrWeekDay {
  flex-basis: calc(100% / 7);
  box-sizing: inherit;
  text-align: center;
}

.rdrDays{
  display: flex;
  flex-wrap: wrap;
}

.rdrDateDisplayWrapper{}

.rdrMonthName{}

.rdrInfiniteMonths{
  overflow: auto;
}

// DateRangePicker
.rdrDateRangeWrapper{
  user-select: none;
}

// DateInput
.rdrDateInput {
  position: relative;

  input {
	outline: none;
  }

  .rdrWarning {
	position: absolute;
	font-size: 1.6em;
	line-height: 1.6em;
	top: 0;
	right: .25em;
	color: #FF0000;
  }
}

// DayCell
.rdrDay {
  box-sizing: inherit;
  width: calc(100% / 7);
  position: relative;
  font: inherit;
  cursor: pointer;
}

.rdrDayNumber {
  display: block;
  position: relative;
  span{
	color: #1d2429;
  }
}

.rdrDayDisabled {
  cursor: not-allowed;
}

@supports (-ms-ime-align: auto) {
  .rdrDay {
	flex-basis: 14.285% !important;
  }
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
  pointer-events: none;
}

.rdrInRange{}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  pointer-events: none;
}

.rdrDayHovered{}

.rdrDayActive{}

// DateRangePicker
.rdrDateRangePickerWrapper{
  display: inline-flex;
  user-select: none;
}

// DefinedRange
.rdrDefinedRangesWrapper{}

.rdrStaticRanges{
  display: flex;
  flex-direction: column;
}

.rdrStaticRange{
  font-size: inherit;
}

.rdrStaticRangeLabel{}

.rdrInputRanges{}

.rdrInputRange{
  display: flex;
}
