.cmplz-modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: grey;
	opacity: 0.45;
	width: 100%;
	height: 100%;
	z-index: 15;
}

.cmplz-modal {
	max-width: 526px;
	min-width:526px;
	position: fixed;
	z-index: 20;
	border-radius: 12px;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 25px;

	.cmplz-modal-header {
		background-color: white;
		padding: 20px 20px 10px 20px;
		justify-content: space-between;
		align-items: center;
		border-radius: 12px;
	   .cmplz-modal-header-branding {
		 display:flex;
		 .cmplz-header-logo {
		   width:100%;
		 }

	   }
		.modal-title {
			font-size: 20px;
			margin: 0;
			background-color: white;
		}
		.cmplz-modal-close {
			cursor: pointer;
			background: none;
			border: none;
			font-size: 1.5em;
			font-weight: 700;
		}
		button {
			img {
				height: 16px;
				width: 16px;
			}
		}
	}

	.cmplz-modal-content {
		position: relative;
		padding: 10px 20px 10px 20px;
		font-size: 12px;
		.cmplz-modal-subtitle {
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 10px;
		}
		.cmplz-modal-description {
			overflow-wrap: anywhere;
			margin-top: 0;
			font-weight: 500;
		}
	}
	.cmplz-modal-footer {
		background: var(--rsp-grey-100);
		padding: var(--rsp-spacing-m) var(--rsp-spacing-l);
	    bottom: 0;
		box-shadow: var(--rsp-box-shadow);
		border-radius: 0 0 var(--rsp-border-radius) var(--rsp-border-radius);
		border-top: 1px solid var(--rsp-grey-300);
		box-sizing: border-box;
		display: grid;
	    grid-template-columns: auto auto auto 1fr;
	    align-items: center;
		gap: var(--rsp-grid-margin);
		width: 100%;
		min-height: 20px;
	}
}
